@use 'sass:map';
@use 'stylekit/core';

$config: (
	variables: (
		font-family: (
			variable: font,
			variants: (core.$font-family)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
