@use "../core";
@use "sass:map";

$config: (
	variables: (
		outline: (
			variable: outline,
			variants: (core.$merged-outline)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
