@use 'sass:map';
@use 'stylekit/core';

$config: (
	utilities: (
		color: (
			shorthand: text,
			variable: color,
			properties: (color),
			variants: (core.$colors)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
