@use 'sass:map';
@use 'stylekit/core';

$config: (
	utilities: (
		line-height: (
			shorthand: leading,
			variable: leading,
			properties: (line-height),
			variants: (core.$line-height)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
