@use 'sass:map';
@use 'stylekit/core';
@use 'stylekit/core/functions';

$config: (
	utilities: (
		padding: (
			shorthand: padding,
			variable: space,
			properties: (padding),
			variants: (functions.merge(
				(
					none: 0
				),
				core.$spacing
			))
		),
		padding-block: (
			shorthand: padding-block,
			variable: space,
			properties: (padding-block),
			variants: (functions.merge(
				(
					none: 0
				),
				core.$spacing
			))
		),
		padding-top: (
			shorthand: padding-top,
			variable: space,
			properties: (padding-top),
			variants: (functions.merge(
				(
					none: 0
				),
				core.$spacing
			))
		),
		padding-bottom: (
			shorthand: padding-bottom,
			variable: space,
			properties: (padding-bottom),
			variants: (functions.merge(
				(
					none: 0
				),
				core.$spacing
			))
		),
		padding-inline: (
			shorthand: padding-inline,
			variable: space,
			properties: (padding-inline),
			variants: (functions.merge(
				(
					none: 0
				),
				core.$spacing
			))
		),
		padding-start: (
			shorthand: padding-start,
			variable: space,
			properties: (padding-inline-start),
			variants: (functions.merge(
				(
					none: 0
				),
				core.$spacing
			))
		),
		padding-end: (
			shorthand: padding-end,
			variable: space,
			properties: (padding-inline-end),
			variants: (functions.merge(
				(
					none: 0
				),
				core.$spacing
			))
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
