@use "../core";
@use 'sass:map';

// -----------------------------------------------------------------------------
// Truncate line
// -----------------------------------------------------------------------------

$truncate-line: map.get(core.$compiled-config, utilities, truncate-line);

.#{core.$prefix}truncate-line {
  --#{core.$prefix}truncate-line: #{$truncate-line};

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--#{core.$prefix}truncate-line);
}
